* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html, body {
	background:linear-gradient(90deg , rgb(185, 240, 240) , pink );
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
	height:100%;
}
