.ToDos{
    display:flex;
	margin:0 -3rem 4px;
	padding:1.1rem 3rem;
	justify-content:space-between;
	align-items:center;
	background:rgba(255,255,255,0.1);
}

.Todo-task.completed{
    opacity:.6;
}
.Todo-task{
    position: relative;
    transition: opacity 0.4s linear;
}

@keyframes strikeitem {
	to { width:calc(100% + 1rem); }
}

.Todo-task.completed:before{
        content:'';
        position:absolute;
        top:50%;
        left:-.5rem;
        display:block;
        width:0%;
        height:2px;
        background:#FFF;
        animation:strikeitem 0.5s ease-out 0s forwards;
}

.Todo-buttons{
    flex-shrink:0;
	padding-left:0.7em;
}

.Todo-buttons button{
    border:none;
	background:none;
    font-size: 1em;
    margin: 0.4rem;
	-webkit-appearance:none;
	cursor:pointer;
	color:#FFF;
}

form {
	display:flex;
	flex-wrap:wrap;
}
form label {
	min-width:100%;
	margin-bottom:.5rem;
	font-size:1.3rem;
}
form input {
	flex-grow:1;
	border:none;
	background:#f7f1f1;
	padding:0 1.5em;
	font-size:initial;
}
form button {
	padding:0 1.3rem;
	border:none;
	background:#ec76bb;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid rgba(255,255,255,.3);
	margin-left:5px;
	cursor:pointer;
	transition:background .2s ease-out;
}
form button:hover {
	background:#ecc0d6;
}
form input, 
form button {
	font-family:'Quicksand', sans-serif;
	height:3rem;
}

